@import "../sass/utils/variables";
@import "../sass/utils/mixins";
@import "../sass/base/confs";
@import "../sass/layout/spinner";
@import "../sass/layout/header";
@import "../sass/layout/body";
@import "../sass/layout/footer";
@import "../sass/layout/home";
@import "../sass/layout/store";
@font-face{
    font-family: 'roboto';
    src:url('./fonts/roboto/RobotoCondensed-Light.ttf');
    font-family: 'shrikhand';
    src:url('./fonts/shrikhand/Shrikhand-Regular.ttf');
}