@import "../utils/mixins";
@import "../utils/variables";

.choicestore{
    @include choix;
    transition: opacity .2s .1s;
    &:hover{
        opacity: .9;
        @include heading-shadow;
    }
}

.choicestore__store{
    font-size: x-small;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
}

.like{
    font-size: 1.3rem;
    position: absolute;
    right: 1rem;   
    cursor: $cursor;
}

.like{
    &__full{
    @include likefull;
    }
    &:hover{
        @include likeheart;
        animation: heartcolor 2s;
    }
}

@keyframes heartcolor{
    0%{
        opacity: 0;
    }
    50%{
        opacity: .5;
    }
    100%{
        opacity: 1;
    }
}
