@import "../utils/variables";
@import "../base/confs";

footer{
    padding: 1.5rem;
    width: 14.5rem;
    background-color: $black;
    opacity: .8;
    color: $white;
    font-size: 80%;
}

ul{
    list-style: none;
    text-align: left;
    display: flex;
    flex-direction: column;
    line-height: 1.2rem;
}

li i{
    width: 1.5rem;
    cursor: $cursor;
}
    
li a{                 
    text-decoration: none;
    color: $white;
}