@import "../utils/variables";
@import "../utils/mixins";

footer{
    padding: 1.5rem;
    width: auto;
    background-color: $black;
    opacity: .8;
    color: $white;
    font-size: 80%;
}

.logofoot{
    .logof path{
        fill: $white;
    }
    @include mobile{
        display: flex;
        justify-content: space-around;
    }
}

ul{
    list-style: none;
    text-align: left;
    display: flex;
    flex-direction: column;
    line-height: 1.2rem;
    @include mobile{
        flex-direction: row;
        justify-content: space-between;
        font-size: small;
        padding-left: 1rem;
    }  
}

li i{
    width: 1.5rem;
    cursor: $cursor;
}
    
li a{                 
    text-decoration: none;
    color: $white;
}

.containermail{
    background-color: $tertiary;
    width: 100vw;
    height: 100vh;
}

.form{
    display: flex;
    justify-content: space-around;
    #email-input{
        font-weight: bold;
        }
    &__group{
        padding-top: 3.5rem;
        @include duo{
            width: 30rem;
        }
        & input{
            border: .125rem solid $white;
            border-radius: 100rem;
            color: $primary;
            font-family: 'Roboto', sans-serif;
            font-size: 1rem;
            outline: none;
            padding: .5rem 1.5rem;
            width: 59%;
            &:active, &:focus{
                border: .125rem solid black;
            }
            &:not(:focus):invalid{
                color: $white;
                border: .125rem solid red;
                background-color: $secondary;
                animation: nogood 100ms cubic-bezier(.4,.1,.6,.9);
                animation-iteration-count: 2;
            }
        }
    }
}

@keyframes nogood{
    25%{
        transform: translateX($shake);
    }
    75%{
        transform: translateX($shake * -1);
    }
}