@import "../utils/mixins";
@import "../utils/variables";

@mixin likefull {   
    display: none;
}

.like{
    font-size: 1.3rem;
    position: absolute;
    right: 1rem;   
    cursor: $cursor;
}

.like{
    &__full{
    @include likefull;
    }
    &:hover{
        @include likeheart;  
    }
}
