header{
  text-align: center; 
  position: relative;
  height: 2rem;
  padding-top: 1rem;
  box-shadow: 0 .1rem .8rem darken($grey, 10%);
}  

.logohead{ 
  font-family: 'Shrikhand';
  font-size: 1.38rem;
}