@import "../utils/variables";
@import "../utils/mixins";

header{
  text-align: center; 
  position: relative;
  height: 2rem;
  padding-top: 1rem;
  @include head-shadow;
  @include pad{
    height: $ppro;
  }
}  

