@import "../utils/variables";

.spinner::before{
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 10001;
    overflow: hidden;
    background: $white;
    animation: spinnerb 3s linear forwards;
    opacity: .8;
}

@keyframes spinnerb{
    to{
        opacity: 0;
        z-index: -1;
    }
}

.spinner::after{
    width: 100vw;
    height: 100vh;
    z-index: 10002;       
    content: "";
    position: fixed;
    top: 50%;
    left: 50%;
    width: 3rem;
    height: 3rem;
    border: .3rem solid $tertiary;
    border-top-color: $primary;
    border-bottom-color: $secondary;
    border-radius: 50%;
    animation: spinner 3s linear forwards;
    opacity: 1;
}

@keyframes spinner{
    to{
        transform: rotate(6turn);
        opacity: 0;
    }
}
