@import "./sass/utils/variables";
@import "./sass/utils/mixins";
@import "./sass/base/confs";
@import "./sass/layout/header";
@import "./sass/layout/heart";
@import "./sass/layout/body";
@import "./sass/layout/footer";
@import "./sass/pages/store";
@font-face{
    font-family: 'Roboto';
    src:local('/fonts/roboto/RobotoCondensed-Regular.ttf');
    font-family: 'Shrikhand';
    src:local('/fonts/shrikhand/Shrikhand-Regular.ttf');
}

.resthead{
    height: 2rem;
}

.fa-arrow-left{
    position: absolute;
    left: 0;
    margin-top: 0;
    cursor: $cursor;
    color: $black;
    transform: translate(200%, -100%);
}


.name{
    width: $gfold;
    height: 2rem;
    padding-top: 1.3rem;
    @include colourpage;
    border-radius: 2rem 2rem 0 0;
    position: absolute;
    margin-top: -3rem;
    display: block;
    h1{
        font-family:'Shrikhand';
        font-size: 1.2rem;    
    }
    i{
        font-size: 1.3rem;
        padding-bottom: 1rem;
    }
}   

.banner img{
    width: $gfold;
    height: 14rem;
}

h3{
    text-transform: uppercase;
    font-weight: normal;
    font-size: .8rem;
    padding-left: 1rem;
    border-bottom: .4rem solid $tertiary;
}

.dish{
    color: $black;
    margin: .5rem;
    justify-content: space-between;
    border: .1rem solid $black;
}

.dish--waistline{
    width: 16rem;
    height: 3rem;
}

.dish__name{
    display: flex;
    flex-direction: column;
}
main{
     @include colourpage;
}