@import "./sass/utils/mixins";
@import "./sass/utils/variables";
@import "./sass/base/confs";
@import "./sass/layout/header";

      /* a revoir */

@mixin colourpage{ 
    background-color: darken($white, 5%)
}
      
.name{
    width: $gfold;
    height: 2rem;
    padding-top: 1.3rem;
    @include colourpage;
    border-radius: 2rem 2rem 0 0;
    display: flex;  
    justify-content: space-around; 
    position: absolute;
    h1{
        font-family:'Shrikhand';
        font-size: 1.3rem;    
    }
    i{
        font-size: 1.3rem;
        padding-bottom: 1rem;
    }
}   


h3{
    text-transform: uppercase;
    font-weight: normal;
    font-size: .8rem;
    padding-left: 1rem;
    border-bottom: .4rem solid $tertiaire;
}

.dish{
    color: $black;
    margin: .5rem;
    display: flex;
    justify-content: space-between;
    border: .1rem solid $black;
}

.dish--waistline{
    width: 16.rem;
    height: 3rem;
}

main{
     @include colourpage;
     }





// footer

footer{
    padding: 1.5rem;
    width: 14.5rem;
    background-color: $black;
    opacity: .8;
    color: $white;
    font-size: 80%;  
    ul {
        list-style: none;
        text-align: left;
        display: flex;
        flex-direction: column;
        line-height: 1.2rem;
    }
    li i{
        width: 1.5rem;
        cursor: $cursor;
    }
    li a{                 
        text-decoration: none;
        color: $white;
    }
}