@import "./sass/utils/variables";
@import "./sass/utils/mixins";
@import "./sass/base/confs";
@import "./sass/layout/header";
@import "./sass/layout/body";
@import "./sass/layout/heart";
@import "./sass/layout/footer";
@import "./sass/pages/home";
@font-face{
    font-family: 'Roboto';
    src:local('/fonts/roboto/RobotoCondensed-Regular.ttf');
    font-family: 'Shrikhand';
    src:local('/fonts/shrikhand/Shrikhand-Regular.ttf');
}