@import "./sass/utils/variables";
@import "./sass/utils/mixins";
@import "./sass/base/confs";
@import "./sass/layout/spinner";
@import "./sass/layout/header";
@import "./sass/layout/body";
@import "./sass/layout/heart";
@import "./sass/layout/footer";
@import "./sass/layout/home";
@import "./sass/layout/store";
@font-face{
    font-family: 'roboto';
    src:local('RobotoCondensed-Light.ttf');
    font-family: 'shrikhand';
    src:local('Shrikhand-Regular.ttf');
}
 
.choicestore:hover{
    opacity: .5;
    @include heading-shadow;
}

.linkbtn:hover {
    @include shadowhover;
}

@mixin likefull { 
    color: $primary;   
    display: none;
}

.like{
    font-size: 1.3rem;
    position: absolute;
    right: 1rem;   
    cursor: $cursor;
}


.restbrand{
    background-color: $white;
    &:hover{
        @include shadowhover;
    }
}

.restbrand .like{
    margin-top: .3rem;  
}

.like{
    &__full{
    @include likefull;
    }
    &:hover{
        @include likeheart;  
    }
}

.resthead{
    height: 2rem;
}

.fa-arrow-left{
    position: absolute;
    left: 1rem;
    margin-top: -1.3rem;
    cursor: $cursor;
    color: $black;
}

.name{
    width: 100%;
    height: 2rem;
    padding-top: 1.3rem;
    @include colourpage;
    border-radius: 2rem 2rem 0 0;
    position: absolute;
    margin-top: -3.2rem;
    h1{
        font-family:'Shrikhand';
        font-size: 1.2rem;
        padding-left: 1rem;    
    }
    .like{
        font-size: 1.3rem;
        padding-bottom: 1rem;
    }
} 

.name .like{
    margin-top: -1.2rem;
    margin-right: .8rem;
}

.banner img{
    width: 100%;
    height: 14rem;
    object-fit: cover;
}

main{
    @include colourpage;
}

h4{
    text-transform: uppercase;
    font-weight: normal;
    font-size: .8rem;
    padding: 1rem 0 .4rem 1rem;
    &::after{
        content:"";
        display: block;
        width: 2.2rem;
        height: .2rem;
        background: $tertiary;
        margin-top: .4rem;
    }
}

.starter, .maindish, .dessert, h5{
    font-size: .7rem;
}

.dishwaistline{
    color: $black;
    margin: .6rem;
    border: .1rem solid $black;
    width: 16rem;
    height: 3rem;
    @include btn;
}

.dish{
    display: flex;
    animation: meal 5s ease; 
    animation-fill-mode: forwards;
}

.starter{    
    animation-delay: 1s;
}

.maindish{  
    animation-delay: 6s;
}

.dessert{
    animation-delay: 12s;
}

@keyframes meal{
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
        
.dish__name{
    min-width: 10.1rem;
    padding-top: .3rem; 
    padding-left: .4rem;
    flex-grow: 1;
    & h5, p{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.dish__price{
    min-width: 2.4rem;
    height: 1.7rem;
    padding-top: 1.2rem;
    border: .1rem solid red;      
}
 
.dish__validate{
    width: 3rem;
    height: 3rem;
    background-color: $tertiary;
    border-radius: 0 .5rem .5rem 0;
    min-width: 2.7rem;
    display: flex;              /* none */
    .fa-check-circle{
        font-size: 1.5rem;
        width: 2rem;
        height: 2rem;
        border-radius: 25px;
        padding-top: .5rem;
        padding-left: .5rem;
        color: $white;
        background-color: $tertiary;
        transform: rotate(0turn); 
        &:hover{
            transform: rotate(1turn);
            transition: transform 1s ease-in-out; 
        }     
    }
}


      /*  &:hover > .dish__validate{
        display: flex;
        transform: scaleX(1)
    }.dish:hover > .dish__validate{display: flex;transform: scaleX(1)} */

.dessert{
    margin-bottom: .5rem;
}

.orderbtn{
    text-decoration: none;
    color: $white;
    font-size: .8rem;
    vertical-align: middle;
    padding: .6rem 2rem;
    align-items: center;
    border: none;
    border-radius: 1.5rem;
    cursor: $cursor;
    @include linear-gradient;
    &:hover{
        @include opacity;
        @include shadowhover;
        color: $black;
    }
}

.order{
    padding-top: 1.3rem;
    padding-bottom: 1.5rem;
    display: flex;
    justify-content: center;
}

.containermail{
    background-color: $tertiary;
    width: 100%;
    height: 10rem;
}

.form{
    &__group{
    padding-top: 2rem;
    padding-left: 1rem;
        & input{
            border: .125rem solid $white;
            border-radius: 100rem;
            color: $primary;
            font-family: 'Roboto', sans-serif;
            font-size: 1rem;
            outline: none;
            padding: .5rem 1.5rem;
            width: 75%;
            transition: background-color 500ms;
            &:focus{
                border: .125rem solid $primary;
            }
            &:not(:focus):invalid{
                background-color: $secondary;
                border: .125rem solid black;
                color: white;
            }
        }
    }
}
