body {
  font-family: "Roboto", Verdana, Tahoma, sans-serif;
  font-size: 0.9rem;
  line-height: 1rem;
  width: auto;
}

html {
  font-size: 100%;
}

* {
  margin: 0;
  padding: 0;
}

p::first-letter {
  text-transform: uppercase;
}

.spinner {
  width: 100vw;
  height: 100vh;
  z-index: 10002;
  content: "";
  position: fixed;
  top: 46%;
  left: 46%;
  width: 3rem;
  height: 3rem;
  border: 0.3rem solid #99E2D0;
  border-top-color: #9356DC;
  border-bottom-color: #FF79DA;
  border-radius: 50%;
  -webkit-animation: spinner 2s linear forwards;
          animation: spinner 2s linear forwards;
  opacity: 1;
}

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(4turn);
            transform: rotate(4turn);
    opacity: 0;
  }
}

@keyframes spinner {
  to {
    -webkit-transform: rotate(4turn);
            transform: rotate(4turn);
    opacity: 0;
  }
}
header {
  text-align: center;
  position: relative;
  height: 2rem;
  padding-top: 1rem;
  -webkit-box-shadow: 0 0.1rem 0.8rem #a7a7a7;
          box-shadow: 0 0.1rem 0.8rem #a7a7a7;
}

.like {
  font-size: 1.3rem;
  position: absolute;
  right: 1rem;
  cursor: pointer;
}

.like__full {
  color: #9356DC;
  display: none;
}
.like:hover .like__empty {
  display: none;
}
.like:hover .like__full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer {
  padding: 1.5rem;
  width: auto;
  background-color: #000;
  opacity: 0.8;
  color: #FFF;
  font-size: 80%;
}

.logofoot .logof path {
  fill: #FFF;
}
@media screen and (min-width: 420px) {
  .logofoot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

ul {
  list-style: none;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.2rem;
}
@media screen and (min-width: 420px) {
  ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: small;
    padding-left: 1rem;
  }
}

li i {
  width: 1.5rem;
  cursor: pointer;
}

li a {
  text-decoration: none;
  color: #FFF;
}

.containermail {
  background-color: #99E2D0;
  width: 100%;
  height: 10rem;
}

.form__group {
  padding-top: 2rem;
  padding-left: 1rem;
}
.form__group input {
  border: 0.125rem solid #FFF;
  border-radius: 100rem;
  color: #9356DC;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  outline: none;
  padding: 0.5rem 1.5rem;
  width: 75%;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
}
.form__group input:focus {
  border: 0.125rem solid #9356DC;
}
.form__group input:not(:focus):invalid {
  background-color: #FF79DA;
  border: 0.125rem solid black;
  color: white;
}

h2 {
  padding: 2rem 1.5rem 0 1.5rem;
  font-size: 1rem;
}

nav {
  font-size: 0.8rem;
}

.city {
  width: 100%;
  height: 2rem;
  padding-top: 1rem;
  background-color: #e6e6e6;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-transition: opacity 0.3s 0.5s;
  transition: opacity 0.3s 0.5s;
}

.choice {
  width: auto;
  height: 13rem;
  background-color: #f3f3f3;
  text-align: center;
}

.city:hover {
  opacity: 0.5;
  -webkit-box-shadow: 0.5rem 0.5rem 0.8rem #C0C0C0;
          box-shadow: 0.5rem 0.5rem 0.8rem #C0C0C0;
}

.cityname {
  border: none;
  background-color: #e6e6e6;
  width: 6rem;
}

.choicestore {
  -webkit-transition: opacity 0.3s 0.3s;
  transition: opacity 0.3s 0.3s;
}
.choicestore .btn {
  text-decoration: none;
  background-color: #FF79DA;
  color: #FFF;
  vertical-align: middle;
  padding: 0.6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 1.5rem;
  margin: auto;
  cursor: pointer;
  font-weight: bold;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to top, #9356DC, #FF79DA);
}
.choicestore .btn:hover {
  opacity: 0.5;
  -webkit-box-shadow: 0 0.2rem 0.9rem #999999;
          box-shadow: 0 0.2rem 0.9rem #999999;
  color: #000;
}

.choicestore:hover {
  opacity: 0.5;
  -webkit-box-shadow: 0.2rem 0.2rem 1rem lighten #C0C0C0, 30%;
          box-shadow: 0.2rem 0.2rem 1rem lighten #C0C0C0, 30%;
}

.choice p {
  padding: 1rem 0 1.5rem 0;
}

.headline {
  font-size: 0.95rem;
  padding: 2rem 0 0.5rem 1rem;
}
@media screen and (min-width: 420px) {
  .headline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.2rem;
  }
}

#linker {
  margin-bottom: 1rem;
}

.resplink, .resprest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 420px) {
  .resplink, .resprest {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.resplink {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  position: relative;
}

.linknumber {
  position: absolute;
  margin-top: 1.4rem;
  margin-left: 0.8rem;
  text-align: center;
  padding: 0.2rem;
  width: 1rem;
  height: 1rem;
  color: #FFF;
  background-color: #9356DC;
  border-radius: 50rem;
}

.link i {
  width: 1.8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1.3rem;
}

.linkbtn {
  vertical-align: middle;
  width: 14.7rem;
  padding: 0.8rem 0;
  margin: 0.5rem 0 0.5rem 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.5rem;
  border: none;
  border-radius: 0.7rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  color: #000;
  background-color: #f3f3f3;
  -webkit-transition: background-color 0.3s 0.5s;
  transition: background-color 0.3s 0.5s;
  -webkit-box-shadow: 0.2rem 0.2rem 1rem lighten #C0C0C0, 30%;
          box-shadow: 0.2rem 0.2rem 1rem lighten #C0C0C0, 30%;
}
.linkbtn:hover {
  background-color: #f2eafb;
}
.linkbtn:hover:hover > i {
  color: #9356DC;
}

.linkbtn a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.linkbtn:hover {
  -webkit-box-shadow: 0 0.2rem 0.9rem #999999;
          box-shadow: 0 0.2rem 0.9rem #999999;
}

main {
  background-color: #f3f3f3;
  padding-bottom: 1rem;
}

.restcard {
  margin: 0.5rem 0.5rem 1rem 0.5rem;
  width: 16.5rem;
  height: 12rem;
  border-radius: 1rem;
  position: relative;
  -webkit-box-shadow: 0.2rem 0.2rem 1rem lighten #C0C0C0, 30%;
          box-shadow: 0.2rem 0.2rem 1rem lighten #C0C0C0, 30%;
  -webkit-transition: -webkit-transform 0.3s 0.5s;
  transition: -webkit-transform 0.3s 0.5s;
  transition: transform 0.3s 0.5s;
  transition: transform 0.3s 0.5s, -webkit-transform 0.3s 0.5s;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.restcard:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 0.2rem 0.9rem #999999;
          box-shadow: 0 0.2rem 0.9rem #999999;
}

.restcard img {
  width: 16.5rem;
  height: 9rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.restbrand {
  height: 3rem;
  border-radius: 0 0 1rem 1rem;
  text-align: left;
  padding-top: 0.3rem;
  padding-left: 0.5rem;
  font-size: 80%;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FFF;
}
.restbrand a {
  text-decoration: none;
  color: #000;
}
.restbrand:hover {
  -webkit-box-shadow: 0 0.2rem 0.9rem #999999;
          box-shadow: 0 0.2rem 0.9rem #999999;
}

.restbrand .like {
  margin-top: 0.3rem;
}

.new {
  position: absolute;
  font-weight: bold;
  font-size: 0.7rem;
  right: 0.5rem;
  margin: 1rem 0.5rem;
  padding: 0.5rem;
  color: green;
  background: #99E2D0;
}

.orderbtn {
  text-decoration: none;
  color: #FFF;
  font-size: 0.8rem;
  vertical-align: middle;
  padding: 0.6rem 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 1.5rem;
  cursor: pointer;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to top, #9356DC, #FF79DA);
  -webkit-transition: opacity 0.3s 0.3s;
  transition: opacity 0.3s 0.3s;
}
.orderbtn:hover {
  opacity: 0.5;
  color: #000;
}

.order {
  padding-top: 1.3rem;
  padding-bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@font-face {
  font-family: "roboto";
  src: local("RobotoCondensed-Light.ttf");
  font-family: "shrikhand";
  src: local("Shrikhand-Regular.ttf");
}
.resthead {
  height: 2rem;
}

.fa-arrow-left {
  position: absolute;
  left: 1rem;
  margin-top: -1.3rem;
  cursor: pointer;
  color: #000;
}

.name {
  width: 100%;
  height: 2rem;
  padding-top: 1.3rem;
  background-color: #f2f2f2;
  border-radius: 2rem 2rem 0 0;
  position: absolute;
  margin-top: -3.2rem;
}
.name h1 {
  font-family: "Shrikhand";
  font-size: 1.2rem;
  padding-left: 1rem;
}
.name .like {
  font-size: 1.3rem;
  padding-bottom: 1rem;
}

.name .like {
  margin-top: -1.2rem;
  margin-right: 0.8rem;
}

.banner img {
  width: 100%;
  height: 14rem;
  -o-object-fit: cover;
     object-fit: cover;
}

main {
  background-color: #f2f2f2;
}

.platter {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 0.8rem;
  padding: 1rem 0 0.4rem 1rem;
}
.platter::after {
  content: "";
  display: block;
  width: 2.2rem;
  height: 0.2rem;
  background: #99E2D0;
  margin-top: 0.4rem;
}

h3 {
  font-size: 0.7rem;
}

.dishwaistline {
  color: #000;
  margin: 0.6rem;
  border: 0.1rem solid #000;
  width: 95%;
  height: 3rem;
  border: none;
  border-radius: 0.7rem;
  cursor: pointer;
  background-color: #f3f3f3;
  -webkit-box-shadow: 0.2rem 0.2rem 1rem #cdcdcd;
          box-shadow: 0.2rem 0.2rem 1rem #cdcdcd;
}
@media screen and (min-width: 540px) {
  .dishwaistline {
    width: 16rem;
  }
}

.dish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.dish__name {
  min-width: 10.1rem;
  padding-top: 0.3rem;
  padding-left: 0.4rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.dish__name h3, .dish__name p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dish__price {
  min-width: 2.4rem;
  height: 1.7rem;
  padding-top: 1.2rem;
  border: 0.1rem solid red;
}

.dish__validate {
  height: 2rem;
  background-color: #99E2D0;
  border-radius: 0 0.5rem 0.5rem 0;
  min-width: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1rem;
}
.dish__validate .fa-check-circle {
  font-size: 1.1rem;
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 25px;
  color: #FFF;
  background-color: #99E2D0;
}
.dish__validate .fa-check-circle:hover {
  -webkit-transform: rotate(1turn);
          transform: rotate(1turn);
  -webkit-transition: -webkit-transform 1s linear;
  transition: -webkit-transform 1s linear;
  transition: transform 1s linear;
  transition: transform 1s linear, -webkit-transform 1s linear;
}

.starter, .maindish, .dessert {
  font-size: 0.7rem;
  opacity: 0;
}

.starter {
  -webkit-animation: appear 2s ease forwards;
          animation: appear 2s ease forwards;
}

.maindish {
  -webkit-animation: appear 2s ease 1s forwards;
          animation: appear 2s ease 1s forwards;
}

.dessert {
  -webkit-animation: appear 2s ease 2s forwards;
          animation: appear 2s ease 2s forwards;
}

@media screen and (min-width: 540px) {
  .meal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}/*# sourceMappingURL=style.css.map */