@import "./variables";

@mixin heading-shadow($color:$grey){
    box-shadow: .2rem .2rem 1rem lighten($color: $color, $amount: 30%);
}

@mixin head-shadow($color:$grey){
    box-shadow: 0 .1rem .8rem darken($color: $color, $amount: 10%);
}

@mixin shadowhover{
    box-shadow: 0 .2rem .9rem lighten($black, $amount: 60%);
}

@mixin backgroundlxv($color:$grey){
    background-color: lighten($color: $color, $amount: 15%);
}

@mixin backgroundlxx($color:$grey){
    background-color: lighten($color: $color, $amount: 20%);
}

@mixin backgroundlxxxv($color:$primary){
    background-color: lighten($color: $color, $amount: 35%);
}

@mixin linear-gradient{
    background: linear-gradient( to top, $primary, $secondary);
}

@mixin choix{
    .btn{
        text-decoration: none;
        background-color: $secondary;
        color: $white;
        vertical-align: middle;
        padding: .5rem 1rem .5rem 1rem;
        align-items: center;
        border: none;
        border-radius: 1.5rem;
        margin: auto;
        cursor: $cursor;
        font-weight: bold;
        @include linear-gradient;
        &:hover{
            @include opacity;
            @include shadowhover;
        }
    }
 }

@mixin opacityv{
    opacity: .5;
}
@mixin opacity{
    opacity: .9;
}

@mixin likefull{   
    display: none;
}

@mixin likeheart{
    .like{
        &__empty{
            display: none;
        }
        &__full{
            display: flex;
            background-image: linear-gradient($primary, $secondary);
            background-size: 100%;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            -moz-text-fill-color: transparent;
        }
    }
}

@mixin btn{
    border: none;
    border-radius: 0.7rem;
    cursor: pointer;
    background-color: #f3f3f3;
    box-shadow: 0.2rem 0.2rem 1rem #cdcdcd;
}

@mixin colourpage{ 
    background-color: darken($white, 5%);
}

@mixin mobile{
    @media screen and (min-width: map-get($breakpoints, mobile)){
         @content;
    }
}

@mixin duo{
    @media screen and (min-width: map-get($breakpoints, duo)){
        @content;
    }
}

@mixin pad{
    @media screen and (min-width: map-get($breakpoints, pad)){
        @content;
    }
}

@mixin ppro{
    @media screen and (min-width: map-get($breakpoints, ppro)){
        @content;
    }
}

@mixin xxl{
    @media screen and (min-width:map-get($breakpoints, xxl)){
        @content;
    }
}