@import "./variables";
@import "../base/confs";


@mixin heading-shadow ($color:$grey){
    box-shadow:.2rem .2rem 1rem lighten ($color, 30%);
}

@mixin shadowhover{
    box-shadow: 0 .2rem 1rem $black;
}

@mixin linear-gradient{
    background: linear-gradient( to top, $primary, $secondary);
}

@mixin choix{
    .btn{
        text-decoration: none;
        background-color: $secondary;
        color: $white;
        vertical-align: middle;
        padding: .6rem;
        align-items: center;
        border: none;
        border-radius: 1.5rem;
        margin: auto;
        cursor: $cursor;
        @include linear-gradient;
        &:hover{
            @include opacity;
            @include shadowhover;
        }
    }
 }

@mixin opacity{
    opacity: .5;
}

@mixin btn{
    border: none;
    border-radius: 0.7rem;
    cursor: pointer;
    background-color: #f3f3f3;
    box-shadow: 0.2rem 0.2rem 1rem #cdcdcd;
}

@mixin likeheart{
    .like{
        &__empty{
            display: none;
        }
        &__full{
            display: flex;
        }
    }
}

@mixin colourpage{ 
    background-color: darken($white, 5%)
}