// couleurs
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$grey: #C0C0C0; 
$white: #FFF;
$black: #000;
$green: green;

// curseur
$cursor: pointer;

//responsive
$breakpoints: (
    mobile: 420px,
    xsmall: 540px,
);

//map meal
$mealappear: (
    starter: 1s,
    maindish: 3s,
    dessert: 6s,
)